## Author - Adhiraj Saha

### Sets are **unordered**, **non-indexed**, **immutable**.

### *Sets do not allow duplicate values.*

In [2]:
s = {1,2,3,4,4,5,6,7,8}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
# set() constructor
mysett = set((1,2,3,4,5))
print(mysett, type(mysett))

{1, 2, 3, 4, 5} <class 'set'>

**add, discard, clear methods**

In [4]:
s = {1,2,3,4,5,6,7,8}
# add() method
s.add(9)                       # adds an element at the end
print(s)

# dicard() method
s.discard(5)                   # removes the specified element from the set
print(s)

# clear() method
s.clear()                      # removes all the elements from the set
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}
set()

**intersection, union, issubset, pop, remove methods.**

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10,11,12,13,14,15}

# intersection() method
print(set.intersection(set1,set2))          # returns intersection of
                                            # two or more sets

# union() method
print(set.union(set1,set2))                 # returns union of
                                            # two or more sets

# issubset() method
print(set1.issubset(set2))                  # checks if a set is a subset of
                                            # another set or not
subSet1 = {4,5,6,7}
print(subSet1.issubset(set1))

# pop() method
print(set2.pop())                           # removes an element from the
print(set2)                                 # beginning of the set

# remove() method
set2.remove(15)                             # removes an specific element
print(set2)

{5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
False
True
5
{6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
{6, 7, 8, 9, 10, 11, 12, 13, 14}

**difference, symmetric_difference, symmetric_difference_update methods**

In [14]:
# differnce()
# contains the items that exists only in 1st set and not in 2nd sets

set1 = {1,2,3,4,5,6,7,8}
set2 = {5,6,7,8,9,10}

print("Diff b/w 1 and 2:",set1.difference(set2))
print("Diff b/w 2 and 1:",set2.difference(set1))


# symmetric_difference()
# returns only the items that are not present in both sets
print(set1.symmetric_difference(set2))


# symmetric_difference_update()
# updates the 1st set by removing the common items and
# adding the rest of the items of the 2nd set

setA = {"apple","google","microsoft","amazon"}
setB = {"Alphabet", "Netflix", "Flipkart", "apple"}

setA.symmetric_difference_update(setB)
print(setA)

Diff b/w 1 and 2: {1, 2, 3, 4}
Diff b/w 2 and 1: {9, 10}
{1, 2, 3, 4, 9, 10}
{'Alphabet', 'Flipkart', 'google', 'amazon', 'microsoft', 'Netflix'}