## Author - Adhiraj Saha

**Function Defination and Function Calling**

In [ ]:
# function defination
def add():
  a=10                        # function body
  b=20
  return a+b

# function calling
print(add())

30

**Arguments in function**

In [2]:
# function with one argument
def my_func(a):
  return a

print(my_func(10))


# function with two arguments
def func(a,b):
  return a+b

print(10,20)

10
10 20

**Returning Values from function**

In [3]:
# return values from a fruitful function
'''functions that returns a value after their completion are called Fruitful'''

def sq(x):
  y = x*x
  return y

num = int(input("Number to square: "))
num_sq = sq(num)
print(f"Square of {num} is {num_sq}")

Number to square: 2
Square of 2 is 4

In [5]:
# python functions returns the special value None
# unless there is a Return statement with any other value

def sq(x):
  y=x*x

num = 4
num_sq = sq(num)
print(f"Square of {num} is {num_sq}")

Square of 4 is None

**Type Annotations**

In [7]:
# It indicates the type of parameters of the function
# and the type of value which will be returned by the function

def add(x: int, y: float) -> float:
  return x + y

print(add(10,20.5))

add.__annotations__

30.5

{'x': int, 'y': float, 'return': float}

**Optional Parameters**

In [11]:
def func(x,y=2):
  print(x**y)

func(2,2)
func(2)
func(2,3)

4
4
8
64

**Lambda Expression**

In [18]:
# anonymous functions can be created using lambda keyword

x = lambda a,b: a+b
print(x(1,2))


# lambda expression to return a function

def pow(n):
  return lambda x: x**n

f = pow(3)
print(f(2))

3
8

**sorted() function using lambda**

In [23]:
# descending sort by the third items of each tuple of the whole list

marks = [(10,20,30), (20,30,40), (30,40,50)]
print(type(marks))
print(type(marks[0]))

print(sorted(marks, key = lambda x: x[2], reverse = True))

<class 'list'>
<class 'tuple'>
[(30, 40, 50), (20, 30, 40), (10, 20, 30)]

In [27]:
# sorting the items of the dictionary

marks = {"A": 60, "B": 20, "C": 40}
print(type(marks))

print(sorted(marks.items(), key = lambda x: x[1]))

<class 'dict'>
[('B', 20), ('C', 40), ('A', 60)]

### Note:

In [15]:
'''the default value is evaluated at the time when the function is defined
not when the function is called'''

b = 3
def f(a,b=b):
  print(a**b)

b = 2
f(2)

8