## Author - Adhiraj Saha

### List are **ordered**, **indexed**, **mutable** and **allows duplicate values**.
*They are the most flexible and dynamic collections of elements in python.*

In [3]:
# list() constructor
mylist = list(("bca","mca","mtech"))
print(mylist)

['bca', 'mca', 'mtech']

**index, append, extend methods**

In [ ]:
# empty list
list1 = []

list1 = ["ele1","ele2","ele3","ele4"]

# index() method
print(list1.index("ele2"))              # returns the index no of given element

# append() method              
list1.append("ele5")                    # adds the element at the end of the list
print(list1)

# extend() method
list1.extend(["ele6","ele7","ele8"])    # adds elements of a given list
                                        # (or any kind of iterable) 
                                        # to the end of the list
print(list1)

1
['ele1', 'ele2', 'ele3', 'ele4', 'ele5']
['ele1', 'ele2', 'ele3', 'ele4', 'ele5', 'ele6', 'ele7', 'ele8']

**Traversing a list** and **Checking membership**

In [15]:
# traversing
li = ["bca","mca","mtech"]
for li in li:
  print(li)

"""another way"""
li = ["bca","mca","mtech"]
for i in range(len(li)):
  print(li[i])


# checking membership
if "mca" in li:
  print(True)
else:
  print(False)

bca
mca
mtech
bca
mca
mtech
True

**List Slicing**

In [25]:
courses = ["bca","mca","btech","mtech","bsc","msc"]

# Start index Inclusive and End index not Inclusive
print(courses[0:5])
print(courses[2:3])
print(courses[1:4])

['bca', 'mca', 'btech', 'mtech', 'bsc']
['btech']
['mca', 'btech', 'mtech']

**max, min, sum, len methods**

In [7]:
li = [1,2,3,4,5]

# max() method
print(max(li))

# min() method
print(min(li))

# sum() method
print(sum(li))

# len() method
print(len(li))

5
1
15
5

**insert, pop, remove, clear methods**

In [28]:
list1 = ["ele1","ele2","ele3","ele4"]

# insert() method
list1.insert(2,"ele2.1")               # adds elements at the specified position
list1.insert(8,"ele8")
print(list1)


# pop() method
print(list1.pop(2))                    # removes the element at the specified position
print(list1)


# remove() method
list1.remove("ele8")                   # removes the first occurence of the
print(list1)                           # specified element


# clear() method
list1.clear()                          # clears the whole list
print(list1)


# del keyword
del list1                              # deletes the entire list
print(list1)

['ele1', 'ele2', 'ele2.1', 'ele3', 'ele4', 'ele8']
ele2.1
['ele1', 'ele2', 'ele3', 'ele4', 'ele8']
['ele1', 'ele2', 'ele3', 'ele4']
[]

NameError: ignored

**count, reverse, sort methods**

In [ ]:
li = [1,2,2,3,3,4,654,7,6,78,4]
print(li)

# count() method
print(li.count(2))                  # returns the number of elements with the
           
                                    # specified value
# reverse() method
li.reverse()                        # reverses the list
print(li)                              


# sort() method
li.sort()                           # sorts the list
print(li)
li.sort(reverse=True)               # reverse sort the list
print(li)

[1, 2, 2, 3, 3, 4, 654, 7, 6, 78, 4]
2
[4, 78, 6, 7, 654, 4, 3, 3, 2, 2, 1]
[1, 2, 2, 3, 3, 4, 4, 6, 7, 78, 654]
[654, 78, 7, 6, 4, 4, 3, 3, 2, 2, 1]

**Shallow Copy**

In [34]:
# slicing
x = [11,22,[33,44,66]]
y = x[:]
y[1] = 55
y[2][0] = 100
print(x)
print(y)

[11, 22, [100, 44, 66]]
[11, 55, [100, 44, 66]]

In [37]:
# list.copy() method

x = [11,22,[33,44,66]]
y = x.copy()
y[1] = 55
y[2][0] = 100
print(x)
print(y)

[11, 22, [100, 44, 66]]
[11, 55, [100, 44, 66]]

In [38]:
# list()

x = [11,22,[33,44,66]]
y = list(x)
y[1] = 55
y[2][0] = 100
print(x)
print(y)

[11, 22, [100, 44, 66]]
[11, 55, [100, 44, 66]]

In [41]:
# copy package

import copy as cp

x = [11,22,[33,44,66]]
y = cp.copy(x)
y[1] = 55
y[2][0] = 100
print(x)
print(y)

[11, 22, [100, 44, 66]]
[11, 55, [100, 44, 66]]

**Deep copy**

In [42]:
import copy as cp

x = [11,22,[33,44,66]]
y = cp.deepcopy(x)
y[1] = 55
y[2][0] = 100
print(x)
print(y)

[11, 22, [33, 44, 66]]
[11, 55, [100, 44, 66]]

**List Comprehension**

In [51]:
# It is a compact way to create a new list based on the values of an existing list

li = ["1","2","3",'4',"5","6","7",'8']

li2 = [int(x) for x in li]
print(li)
print(li2)

myList = [i for i in range(10) if i%2]
print(myList)

['1', '2', '3', '4', '5', '6', '7', '8']
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]