<a href="https://colab.research.google.com/github/adhirajcs/python_MCA/blob/main/One_Liners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Comprehension

In [ ]:
li = [i*i for i in range(10) if i%2 == 0]
print(li)

[0, 4, 16, 36, 64]

One Liner If Else

In [ ]:
i = 4 if 3>2 else print("Wrong")
print(i)

4

Print only elements

In [ ]:
li = [1, 2, 3, 4, 5]

print(*li)

1 2 3 4 5
1 2 3 4 5

One line python code using ";"

In [ ]:
import datetime; print((datetime.date(2022,12,31)-datetime.date.today()).days)

14

Reversing a List and a string

In [ ]:
li = [1,2,3,4,5,6]
print(li[::-1])

st = "Hello World"
print(st[::-1])

[6, 5, 4, 3, 2, 1]
dlroW olleH

Assigning Multiple Variables

In [ ]:
a,b,c,d = 1,"hello",True,0.43

print(a,b,c,d)

1 hello True 0.43

Convert number string to integer list

In [ ]:
st = "1 2 3 4 5 6"
li = list(st.split())
print(li)

['1', '2', '3', '4', '5', '6']