## Python Notes on Pandas
## Author - Adhiraj Saha

### Importing the pandas package

In [31]:
import pandas as pd

In [32]:
# Some prerequisites

import numpy as np
grades = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
study_hours = [10.0,11.5,9.0, 16.0, 9.25,1.0,11.5,9.0, 8.5, 14.5, 15.5, 13.75,9.0,8.0, 15.5,8.0,9.0, 6.0, 10.0,12.0, 12.5, 12.0]

student_data = np.array([study_hours, grades])
student_data

array([[10.  , 11.5 ,  9.  , 16.  ,  9.25,  1.  , 11.5 ,  9.  ,  8.5 ,
        14.5 , 15.5 , 13.75,  9.  ,  8.  , 15.5 ,  8.  ,  9.  ,  6.  ,
        10.  , 12.  , 12.5 , 12.  ],
       [50.  , 50.  , 47.  , 97.  , 49.  ,  3.  , 53.  , 42.  , 26.  ,
        74.  , 82.  , 62.  , 37.  , 15.  , 70.  , 27.  , 36.  , 35.  ,
        48.  , 52.  , 63.  , 64.  ]])

### Using DataFrame to represent data

In [33]:
df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie',
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})

df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

#### loc[ ] method

In [34]:
# Retrive data for a specific index value
df_students.loc[5]

Name          Vicky
StudyHours      1.0
Grade           3.0
Name: 5, dtype: object

In [35]:
# Data of a range of index values
df_students.loc[0:5]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0
5  Vicky        1.00    3.0

In [36]:
# Data of the first five rows only
df_students.iloc[0:5]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

In [37]:
# grade column data of 2nd index
df_students.loc[2,'Grade']

47.0

In [38]:
# Data based on a filtering expression that references named columns
print(df_students.loc[df_students["Name"]=="Aisha"])
print()

# Filtering expression can be used without
print(df_students[df_students["Name"]=="Aisha"])

     Name  StudyHours  Grade
21  Aisha        12.0   64.0

     Name  StudyHours  Grade
21  Aisha        12.0   64.0

#### query() method

In [39]:
# Same filtered result but using query method
df_students.query('Name=="Aisha"')

     Name  StudyHours  Grade
21  Aisha        12.0   64.0

#### Column name as a property of DataFrame

In [40]:
df_students[df_students.Name == "Aisha"]

     Name  StudyHours  Grade
21  Aisha        12.0   64.0

### Loading a DataFrame from a file

In [41]:
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv

# read_csv() method loads the data from the file to a variable
# delimeter is with what the data will be separated
# header is which row contains the column headings
df_students = pd.read_csv('grades.csv',delimiter=',',header='infer')

# Showing the data of 1st 5 rows as the data is too large
# head() method shows only the 1st 5 rows
df_students.head()

--2023-07-07 09:40:57--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 322 [text/plain]
Saving to: ‘grades.csv.1’

grades.csv.1        100%[===================>]     322  --.-KB/s    in 0s

2023-07-07 09:40:57 (23.1 MB/s) - ‘grades.csv.1’ saved [322/322]

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

### Handling missing Values

#### isnull() method

In [42]:
# True denotes null values and False for not null values
df_students.isnull()

     Name  StudyHours  Grade
0   False       False  False
1   False       False  False
2   False       False  False
3   False       False  False
4   False       False  False
5   False       False  False
6   False       False  False
7   False       False  False
8   False       False  False
9   False       False  False
10  False       False  False
11  False       False  False
12  False       False  False
13  False       False  False
14  False       False  False
15  False       False  False
16  False       False  False
17  False       False  False
18  False       False  False
19  False       False  False
20  False       False  False
21  False       False  False
22  False       False   True
23  False        True   True

In [43]:
# Sum of all the data that have null values for each column
df_students.isnull().sum()

Name          0
StudyHours    1
Grade         2
dtype: int64

In [44]:
# Filtering the DataFrame to view only the rows having null values

# axis=0 denotes the rows and axis=1 denotes columns
df_students[df_students.isnull().any(axis=1)]

    Name  StudyHours  Grade
22  Bill         8.0    NaN
23   Ted         NaN    NaN

#### filna() method

In [45]:
# Replacing the null values with average of that particular column data
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean())
df_students

         Name  StudyHours  Grade
0         Dan   10.000000   50.0
1       Joann   11.500000   50.0
2       Pedro    9.000000   47.0
3       Rosie   16.000000   97.0
4       Ethan    9.250000   49.0
5       Vicky    1.000000    3.0
6    Frederic   11.500000   53.0
7      Jimmie    9.000000   42.0
8      Rhonda    8.500000   26.0
9    Giovanni   14.500000   74.0
10  Francesca   15.500000   82.0
11      Rajab   13.750000   62.0
12    Naiyana    9.000000   37.0
13       Kian    8.000000   15.0
14      Jenny   15.500000   70.0
15     Jakeem    8.000000   27.0
16     Helena    9.000000   36.0
17      Ismat    6.000000   35.0
18      Anila   10.000000   48.0
19       Skye   12.000000   52.0
20     Daniel   12.500000   63.0
21      Aisha   12.000000   64.0
22       Bill    8.000000    NaN
23        Ted   10.413043    NaN

#### dropna() method

In [46]:
# Dropping the rows containing null values
df_students = df_students.dropna(axis=0, how='any')
df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

### Explorer data in the DataFrame

In [47]:
# Getting the mean StudyHours using column as an index
mean_study = df_students['StudyHours'].mean()

# Getting the mean Grade using the column name as a property
mean_grade = df_students.Grade.mean()

print(f"Average weekly study hours: {mean_study:.4} \nAverage grade: {mean_grade:.4}")

Average weekly study hours: 10.52
Average grade: 49.18

In [48]:
# Data of students who studied for equal to or more than mean hours
df_students[df_students.StudyHours > mean_study]

         Name  StudyHours  Grade
1       Joann       11.50   50.0
3       Rosie       16.00   97.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [49]:
# Filtered data itself is a DataFrame
# So mean grade of those students who
# studied for equal to or more than mean hours
df_students[df_students.StudyHours > mean_study].Grade.mean(0)

66.7

#### Adding a new column to the DataFrame

#### Series() method

In [50]:
# First creating a Pandas series using the Series() method
passed = pd.Series(df_students['Grade'] >= 60)

# Then concatenating that series as a new column with the DataFrame
df_students = pd.concat([df_students, passed.rename("Passed")], axis=1) # axis=1 is column

df_students

         Name  StudyHours  Grade  Passed
0         Dan       10.00   50.0   False
1       Joann       11.50   50.0   False
2       Pedro        9.00   47.0   False
3       Rosie       16.00   97.0    True
4       Ethan        9.25   49.0   False
5       Vicky        1.00    3.0   False
6    Frederic       11.50   53.0   False
7      Jimmie        9.00   42.0   False
8      Rhonda        8.50   26.0   False
9    Giovanni       14.50   74.0    True
10  Francesca       15.50   82.0    True
11      Rajab       13.75   62.0    True
12    Naiyana        9.00   37.0   False
13       Kian        8.00   15.0   False
14      Jenny       15.50   70.0    True
15     Jakeem        8.00   27.0   False
16     Helena        9.00   36.0   False
17      Ismat        6.00   35.0   False
18      Anila       10.00   48.0   False
19       Skye       12.00   52.0   False
20     Daniel       12.50   63.0    True
21      Aisha       12.00   64.0    True

#### groupby() method

In [54]:
# Grouping the data based on Passed column
df_students.groupby(df_students.Passed).Name.count()

Passed
False    15
True      7
Name: Name, dtype: int64

In [55]:
# Grouping multiple fields in a group
df_students.groupby(df_students.Passed)['StudyHours', 'Grade'].mean()

<ipython-input-55-2ea800590118>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_students.groupby(df_students.Passed)['StudyHours', 'Grade'].mean()

        StudyHours      Grade
Passed
False     8.783333  38.000000
True     14.250000  73.142857

#### sort_values() method

In [56]:
# Sorting the data by Grade column in descending order
df_students = df_students.sort_values('Grade', ascending=False)

df_students

         Name  StudyHours  Grade  Passed
3       Rosie       16.00   97.0    True
10  Francesca       15.50   82.0    True
9    Giovanni       14.50   74.0    True
14      Jenny       15.50   70.0    True
21      Aisha       12.00   64.0    True
20     Daniel       12.50   63.0    True
11      Rajab       13.75   62.0    True
6    Frederic       11.50   53.0   False
19       Skye       12.00   52.0   False
1       Joann       11.50   50.0   False
0         Dan       10.00   50.0   False
4       Ethan        9.25   49.0   False
18      Anila       10.00   48.0   False
2       Pedro        9.00   47.0   False
7      Jimmie        9.00   42.0   False
12    Naiyana        9.00   37.0   False
16     Helena        9.00   36.0   False
17      Ismat        6.00   35.0   False
15     Jakeem        8.00   27.0   False
8      Rhonda        8.50   26.0   False
13       Kian        8.00   15.0   False
5       Vicky        1.00    3.0   False

In [57]:
# Sorting the data by StudyHours column in ascending order
df_students = df_students.sort_values('StudyHours', ascending=True)

df_students

         Name  StudyHours  Grade  Passed
5       Vicky        1.00    3.0   False
17      Ismat        6.00   35.0   False
15     Jakeem        8.00   27.0   False
13       Kian        8.00   15.0   False
8      Rhonda        8.50   26.0   False
16     Helena        9.00   36.0   False
12    Naiyana        9.00   37.0   False
7      Jimmie        9.00   42.0   False
2       Pedro        9.00   47.0   False
4       Ethan        9.25   49.0   False
18      Anila       10.00   48.0   False
0         Dan       10.00   50.0   False
6    Frederic       11.50   53.0   False
1       Joann       11.50   50.0   False
19       Skye       12.00   52.0   False
21      Aisha       12.00   64.0    True
20     Daniel       12.50   63.0    True
11      Rajab       13.75   62.0    True
9    Giovanni       14.50   74.0    True
14      Jenny       15.50   70.0    True
10  Francesca       15.50   82.0    True
3       Rosie       16.00   97.0    True